


<div class="card text-center">
    <div class="card-header">
        Ballot card
    </div>

    <div class="card-body ">
        <h5 class="card-title">Special title treatment</h5>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>

    <!-- ========================================================= 1 ============================================================ -->
    <div class="card-deck">
        <div class="card">
            <div class="card-header border-success rounded-lg text-white" style="background-color: #0202028e">Institutional SRC</div>
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                    additional content. This content is a little bit longer.</p>
            </div>
            <div class="card-footer">
                <small class="text-muted">Total Votes: {{5+6}}</small>
            </div>
        </div>
        <div class="card">
            <div class="card-header border-success rounded-lg text-white" style="background-color: #0202028e">Central SRC</div>
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">This card has supporting text below as a natural lead-in to additional
                    content.
                </p>
            </div>
            <div class="card-footer">
                <small class="text-muted">Total Votes: {{5+6}}</small>
            </div>
        </div>
        <div class="card">
            <div class="card-header border-success rounded-lg text-white" style="background-color: #0202028e">Humanities</div>
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                    additional content. This card has even longer content than the first to show that equal
                    height
                    action.</p>
            </div>
            <div class="card-footer">
                <small class="text-muted">Total Votes: {{5+6}}</small>
            </div>
        </div>
    </div>
    <!-- ===================================================================================================================== -->
    <br>
    <!-- ========================================================= 2 ============================================================ -->
    <div class="card-deck">
        <div class="card">
            <div class="card-header border-success rounded-lg text-white" style="background-color: #0202028e">Information and Communication Technology</div>
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                    additional content. This content is a little bit longer.</p>
            </div>
            <div class="card-footer">
                <small class="text-muted">Total Votes: {{5+6}}</small>
            </div>
        </div>
        <div class="card">
            <div class="card-header border-success rounded-lg text-white" style="background-color: #0202028e">Economic And Finance</div>
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">This card has supporting text below as a natural lead-in to additional
                    content.
                </p>
            </div>
            <div class="card-footer">
                <small class="text-muted">Total Votes: {{5+6}}</small>
            </div>
        </div>
        <div class="card">
            <div class="card-header border-success rounded-lg text-white" style="background-color: #0202028e">Management Sciences</div>
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                    additional content. This card has even longer content than the first to show that equal
                    height
                    action.</p>
            </div>
            <div class="card-footer">
                <small class="text-muted">Total Votes: {{5+6}}</small>
            </div>
        </div>
    </div>
    <!-- ===================================================================================================================== -->
    <br>
    <!-- ========================================================= 3 ============================================================ -->
    <div class="card-deck">
        <div class="card">
            <div class="card-header border-success rounded-lg text-white" style="background-color: #0202028e">Engineering and Built Environment</div>
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                    additional content. This content is a little bit longer.</p>
            </div>
            <div class="card-footer">
                <small class="text-muted">Total Votes: {{5+6}}</small>
            </div>
        </div>
        <div class="card">
            <div class="card-header border-success rounded-lg text-white" style="background-color: #0202028e">Science</div>
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">This card has supporting text below as a natural lead-in to additional
                    content.
                </p>
            </div>
            <div class="card-footer">
                <small class="text-muted">Total Votes: {{5+6}}</small>
            </div>
        </div>
        <div class="card">
            <div class="card-header border-success rounded-lg text-white" style="background-color: #0202028e">The Arts</div>
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                    additional content. This card has even longer content than the first to show that equal
                    height
                    action.</p>
            </div>
            <div class="card-footer">
                <small class="text-muted">Total Votes: {{5+6}}</small>
            </div>
        </div>

    </div>
    <!-- ===================================================================================================================== -->


