
<br>
<div class="">
	<div class="col-sm-6 offset-sm-3">
		<div id="ballot" class="table shadow p-3 mb-5 bg-white rounded">
			<div id="sfc_section">
				<br>
				<div class="rounded-lg" style="background-color: #f9b812"> 
						<h2 align="center"  class="text-black-50 ">SFC</h2>
						<p align="center"><b>(Instructions)</b>You may only vote for one structure.
						<b>To vote </b>Select a desired candidate on the vote field and click the below button </p>
					</div>
				<table class="table" id="group1">
					<tr class="thead-light">
						<th *ngFor="let head of head_sfc" scope="col">{{head}} </th>
					</tr>
					<tr *ngFor="let sfc of SFC ; let i = index">
						<td>{{i+1}}</td>
						<td><img src={{sfc.sfc_img}} alt="Avatar" style="width:80px"></td>
						<td>{{sfc.sfc_name}}</td>
						<td>{{sfc.sfc_position}}</td>
						<fieldset id="group_3">
							<td><input (click)="get_sfc(sfc.sfc_id)" type="radio" name="sfc_rbt"></td>
						</fieldset>
					</tr>
				</table>
			</div>
        </div>

		<div class="col text-center">
			<button  (click)="submit()"  style="width: 150px" class="btn btn-primary btn-lg shadow p-3 mb-5 rounded bg-info">  Next  <i class="fa fa-arrow-right"></i>  <i></i></button>
		</div>
    </div>
</div>