<!-- ====================================================================== -->
<!-- <nav class="navbar navbar-expand-lg navb static-top">

	<img class="img-logo align-top" src="../../assets/img/GroupLogo.png" alt="logo" />

	<button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbar"
		aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>

	<div class="collapse navbar-collapse justify-content-between" id="navbar">

		<!-.- <div class="header">
      <h5>Admin Panel</h5>
    </div> -.->

		<!-.- Hide when loggedout  #hideLogout *ngIfElse="hide"-.->
		<div class="navbar-nav">
			<a class="nav-item nav-link" routerLinkActive="active" routerLink="#" (click)="logOut()"> Logout</a>
		</div>


	</div>
</nav> -->
