​
/* Style by Kgaugelo */

.heading {
  /* text-align: center;
  border: 3px solid rgba(255, 255, 255, 0.3);
  border-radius: 100%; */
  color: rgb(226, 27, 27);
  /* height: 80px;
  margin: 0 auto -40px;
  position: relative;
  transition: all 0.3s ease-in-out 0s;
  width: 80px; */
}

.blue {
  background-color: rgb(253, 0, 0);
}

.headLinks {
  color: rgb(85, 85, 85);
  line-height: 10px;
}

.headLinks:hover {
  background-color: rgb(230, 230, 230);
  color: rgb(85, 85, 85);
  text-decoration: none;
}

h2 {
  margin: 0 0 15px;
  font-size: 50px;
}

.form-control {
  border-radius: 10px;
}

a {
  color: #b3cde0;
}

ul :hover {
  color: red;
  text-decoration: none;
}

.navb {
  background-color: #04396c;
}

.bg-info {
  background-color: rgba(2, 87, 151)!important;
}

body {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

.img-logo {
  height: 6%;
  width: 6%;
}

/* End Style by Kgaugelo */