<br>
<!-- <div class="row"> -->
<div class="col-sm-6 offset-sm-3">
    <div class="rounded-lg shadow" style="background-color: #f9b812">
        <h2 class="text-white text-center">Voted Sucessfully</h2>
        <p class="text-white text-center"><b></b>if you are  here ,this means your vote
            has been submitted or you have  already voted!
        </p>
        <p class="text-white text-center"> Please await final results</p>
        <div class="text-center">
            <img style="min-height: 300px" height="100%" src="../../assets/img/voted.png">
        </div>
        <br>
    </div>
</div>
<!-- </div> -->
<br>
